img {
  margin-top: 5vh;
  width: auto;
  height: 32vw;
  border-radius: 5%;
}

.board{
  width: 100%;
display: flex;
justify-content: center;

}

.head{
  font-size: 4vw;
  width: 80vw;
  height: 50px;
  display: grid;
  place-items: center;
}

.list-content{
  margin: 7vh;
  font-size: 24px;
  font-weight: 100;
}

.list-content:hover{
  font-weight: 600;
  cursor: pointer;
}

.spinner {
  margin-top: 32vh;
  height: 50px;
  width: max-content;
  font-size: 18px;
  font-weight: 600;
  font-family: monospace;
  letter-spacing: 1em;
  color: #0f0d0d;
  filter: drop-shadow(0 0 10px);
  display: none;
  justify-content: center;
  align-items: center;
}

.spinner span {
  animation: loading6454 1.75s ease infinite;
}

.spinner span:nth-child(2) {
  animation-delay: 0.25s;
}

.spinner span:nth-child(3) {
  animation-delay: 0.5s;
}

.spinner span:nth-child(4) {
  animation-delay: 0.75s;
}

.spinner span:nth-child(5) {
  animation-delay: 1s;
}

.spinner span:nth-child(6) {
  animation-delay: 1.25s;
}

.spinner span:nth-child(7) {
  animation-delay: 1.5s;
}

@keyframes loading6454 {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

button {
  padding: 17px 40px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: rgb(220, 216, 216);
  box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 15px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}
